/* import styled from 'styled-components' */

.loaderContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failureContainer {
  height: 80vh;
  flex-direction: column;
}

.failureImage {
  height: 300px;
}

failedHeading {
  text-align: center;
}

failedText {
  text-align: center;
}

.retryBtn {
  background-color: #4656a1;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}

.unorderedList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.courseText {
  margin-left: 50px;
  font-family: Roboto;
}
